* {
	font-family: helvetica;
}

#dotdotdot a{
	background-color: yellow;
	color: black;
	float: right ;
	margin-right: 20px;
	margin-top: 5px;
	font-size: 16px;
	font-weight: bold;
}

a {
	text-decoration: none;
}

h1 {
	background-color: magenta;
	color: black;
}

h2 {
	background-color: cyan;
}

h3 {

}

p {
	text-align: justify;
    text-justify: inter-word;

}

ul{
	list-style: none;
	padding: 0px 20px 0px 20px;
}

li{
	padding-right: 0px;

}

#projects h3 {
	margin-top: 0px;
}


p {
	display: inline-block;
	
}

nav {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: yellow;
	padding-left: 30px;
}

nav a{
	font-size: 30px;
	margin-right: 30px;
	color: yellow;
	background-color: black;
	font-weight: bold;
}

a:hover{
	background-color: black;
	color:white;
	font-style:italic; 
}

#wrapper {
	background-color: white;
	border: 10px solid black;
	padding: 50px;
	float: top;
	display: inline-block;
}

#blog_posts {
	border: 10px solid black;
	color:black;
	padding: 30px;
	width: 40%;
	display: inline-block;
	float: right;

}

#blog_index {
	border: 10px solid black;
	color:black;
	padding: 30px;
	display: inline-block;
	float: right;
	margin-right: 10px;
	width: 73%;

}

#indiv_blog {
	border: 10px solid black;
	color:black;
	padding: 30px;
	display: inline-block;
	float: right;
	margin-right: 10px;
	width: 73%;
	height: 100%;
}


#latest_post {
	max-height: 210px;
}


#latest_post_outer {
	color: black;
	padding: 0px, 20px, 20px, 20px;
	border-top: 5px dashed black;
	border-bottom: 5px dashed black;
	padding-bottom:30px;
}

.outer {
	display: inline-block;
}

#second_latest_post {
	height: 504px;
	display: inline-block;
}

#second_latest_post_outer{
	display: inline-block;
	width: 49%;
}

#old_posts_container {
	width: 49%;
	float: right;
}

#old_posts {
	height: 236px;
	float: top;
	display: inline-block;
	padding: 0px;
}

.other_posts {
	padding: 0px 10px 0px 0px;
	float: top;
	color:black;
	border-bottom: 5px solid black;
}

#left_side {
	max-width: 45%;
	display: inline-block;
	float: bottom;
	vertical-align: bottom;
}

#projects {
	display: inline-block;
	float: bottom;
	background-color: white;
	vertical-align: bottom;
	padding: 30px 30px 0px 30px;
	border: 10px solid black;
	padding-bottom: 30px;
}

.each_project {
	border-bottom: 5px solid black;
	padding-bottom: 20px;
	height: 128px;
}


#latest_post, .other_posts, .each_project {
	overflow: hidden;
}



#larry_welcome {
	width: 85%;
	display: inline-block;
	float: right, top;
	vertical-align: top;
	padding-left: 30px;
	padding-right: 30px; 
}

#larry_welcome p{
	float: left;
	font-size: 33px;
	margin-top: 0px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}

#prof_pic img{
	width:80%;
	display: block;
    margin-left: auto;
    margin-right: auto;   
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: yellow;
	padding-left: 30px;
}

footer a{
	font-size: 30px;
	margin-right: 30px;
	color: yellow;
	background-color: black;
	font-weight: bold;
}
/* BLOG TEMPLATE STYLE SHEET */

#blog_template {
	background-color: white;
	border: 5px dotted black;
	color:black;
	padding: 30px;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.blog_cover_photo {
	
}

/*BLOG INDEX STYLE SHEET*/
#archive {
	width: 14%;
	float:left;
	background-color: cyan;
	margin-right: 30px;
}

#archive li {
	padding:5px;
	margin-top:10px;
	margin-bottom: 10px;	
	background-color: black;
	color: yellow;
}

#archive a {
	font-size: 16px;
	margin-right: 30px;
	color: yellow;
	background-color: black;
	font-weight: bold;
}

#archive a:hover{
	background-color: black;
	color:white;
	font-style:italic; 
}



